<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="chatparamsections">
      <section name="saleslead" type="System.Configuration.AppSettingsSection" />
      <section name="logchat" type="System.Configuration.AppSettingsSection" />
    </sectionGroup>
  </configSections>
  <chatparamsections>
    <saleslead>
      <add key="dbconnection" value="chatparameters" />
      <add key="dbsinglequery" value="SELECT CHAT.*,COALESCE(A.NICKNAME,'') AGENTNAME FROM PTOOLS.CHATURLSESSIONVARIABLES CHAT INNER JOIN SQLPR1.PREP.PINET_SESSIONLOG SESCHAT ON (CHAT.SESSIONID=SESCHAT.ID) LEFT JOIN SQLPR1.PREP.PCO_LOGINAGENT LA ON (LA.LOGIN=SESCHAT.LOGIN) LEFT JOIN SQLPR1.PREP.PCO_AGENT A ON (LA.AGENTID=A.ID) WHERE ENAIL LIKE @EMAIL" />
      <add key="dbdatasections" value="CUSTOMER:Customer=SURNAME,NAME,PHONE,EMAIL;AGENTINFO=LOGIN,AGENTNAME" />
    </saleslead>
    <logchat>
      <add key="dbconnection" value="chatparameters" />
      <add key="dbschema" value="PTOOLS"/>
      <add key="dbtable" value="CHATURLSESSIONVARIABLES"/>
    </logchat>
  </chatparamsections>
  <appSettings>
    <add key="defaultconfigsection" value="chatparamsections/logchat" />
  </appSettings>
  <connectionStrings>
    <add name="chatparameters" connectionString="Data Source=localhost;Initial Catalog=BCORING;User Id=PTOOLS;Password=PTOOLS;MultipleActiveResultSets=true;"/>
  </connectionStrings>
  <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <handlers>
      <add name="chathandler" verb="*" path="*" type="chatparameters.Handler" />
    </handlers>
  </system.webServer>
</configuration>
